/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Grid Layout */
body {
    display: grid;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


header {
    grid-area: header;
    background: #003366;
    padding: 1rem;
}

nav {
    display: flex;
    /* Flexbox applied */
    justify-content: space-evenly;
    /* Even spacing */
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    grid-area: main;
    padding: 1.5rem;
    background: #f9f9f9;
}

/* Aside */
aside {
    grid-area: aside;
    padding: 1.5rem;
    background: #e6e6e6;
}

/* Footer */
footer {
    grid-area: footer;
    background: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
}